body {
    margin: 0px;
    padding: 0px;
    font-family: 'Niramit', sans-serif;
    background: url('../pictures/background/background.png');
}

a {
    margin: 0px;
    position: sticky;
    float: right;
    top: 15px;
    right: 15px;
    z-index: 1;
}

.cart {
    width: 40px;
}

h1 {
    position: relative;
    margin: auto;
    width: 50%;
    top: 50px;
    font-size: 90px;
    font-weight: bold;
    text-align: center;
    text-shadow: rgb(151, 76, 49) 4px 6px 5px;
    font-variant: small-caps;
    color: coral;
    letter-spacing: 18px;
}

#products-box {
    height: 1600px;
    width: 70%;
    margin: 80px auto 40px;
    padding: 0px;
    background-color: rgba(255, 255, 255, 0.55);
    border: solid rgb(172, 172, 172) 1px;
    box-shadow: rgb(170, 103, 79) 3px 4px 8px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.product {
    margin: auto;
    height: 450px;
    width: 50%;
    padding: 0px;
    background-color: rgba(255, 255, 255, 0.55);
    border: solid rgb(172, 172, 172) 1px;
    box-shadow: rgb(170, 103, 79) 3px 4px 8px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.description {
    margin: auto;
}

.add {
    height: 30px;
    box-shadow: slategrey 3px 3px 4px;
    border-radius: 50%;
}

.add-modal {
    box-sizing: border-box;
    background-color: rgb(0, 255, 0);
    width: 150px;
    box-shadow: slategrey 3px 3px 4px;
    border-radius: 10px;
    text-align: center;
    padding: 8px;
    text-transform: uppercase;
    letter-spacing: 2;
    grid-area: ft;
    font-weight: bold;
    border: outset rgb(106, 255, 106) 5px;
}

.photo {
    max-height: 250px;
    max-width: 80%;
}

.letters {
    font-size: 20px;
}

.modal-background {
    z-index: 2;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: visible;
}

.more {
    cursor:default;
    height: 75%;
    width: 55%;
    padding: 0;
    background-color: rgb(255, 255, 255);
    border: solid rgb(172, 172, 172) 1px;
    box-shadow: rgb(0,0,0) 3px 4px 8px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 14% 10% 10% 10% 10% 10% 10% 26%;
    grid-template-areas: 
    "ti ti"
    "zd bd"
    "zd bd"
    "zd bd"
    "zd bd"
    "zd bd"
    "zd bd"
    "galeria ft";
}

.exit {
    z-index: 1;
    width: 30px;
    background-color: white;
    box-shadow: slategrey 1px 2px 3px;
    border-radius: 50%;
    align-items: center;
    grid-area: ti;
    margin: 10px 10px auto auto;
}

.galeria-wrapper {
    grid-area: galeria;
    /* background-color: yellow; */
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide {
    grid-area: galeria;
    /* background-color: red; */
    max-width: 83%;
    height: 85%;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    order: 2;
}

.gal {
    box-sizing: border-box;
    height: 115px;
    max-width: 50%;
    border: solid 1px rgb(0, 0, 0);
    opacity: 0.6;
    object-fit: cover;
    margin:0 5px 0 5px;
}

.arrows {
    max-height: 45px;
    opacity: 0.6;
    transition: 0.3s;
}

.arrow-l {
    order: 1;
}

.arrow-r {
    order: 3;
}

.letters-more {
    font-size: 18px;
    grid-area: bd bd bd bd bd bd;
    margin: 0;
    padding: 20px 0 0 50px;
    /* padding-left: 50px; */
    /* justify-content: center; */
}

.name-grid{
    font-size: 25px;
    grid-area: ti;
    text-transform: uppercase;
}

.photo-modal {
    max-height: 340px;
    max-width: 95%;
    grid-area: zd;
    margin: auto;
    padding: 0;
}

.add:hover, .add-modal:hover, .exit:hover, .gal:hover {
    box-shadow: none;
    cursor: pointer;
}

.gal:hover {
    opacity: 1;
}

.arrows:hover {
    cursor: pointer;
    opacity: 1;
    max-height: 50px;
}

.active {
    opacity: 1;
}

.unavailable {
    background-color : lightgrey;
    box-shadow: none;
    border-color: lightgrey;
    color: grey;
    pointer-events: none;
}

/* .unavailable:hover {
    cursor: not-allowed;
} */